﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>square</title>
</head>
<body>
    <h1>Это калькулятор площади сектора</h1>
    <div>

        <figure>
            <img src="https://allcalc.ru/images/ploshadksectora2.png" alt="Площадь сектора" />

        </figure>
        <form action="" method="post">
            <input type="number" name="Degree" placeholder="Углы секрора, град" value="" />
            <input type="number" name="Radius" placeholder="Радиус сектора, у.е." value="" />
            <button>Считаем!</button>


            <p>


                <h1>

                    Площадь сектора:  @ViewBag.Result у.е.


                </h1>

            </p>
        </form>
    </div>
</body>
</html>